body {
    background-color: #d5e1ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1em;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    background-color: white;
    padding: 1em;
    max-width: min-content;
    max-height: 31em;
    overflow: hidden;
    border-radius: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
    height: 20em;
    width: 20em;
    border-radius: 1em;
}

.title {
    font-weight: bold;
    font-size: x-large;
    margin: 1em 0 0 0;
}

.instructions {
    font-size: medium;
    color: grey;
    margin: 1em 2em;
}